<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/menu.css"/>
    <link rel="stylesheet" href="style/main.css"/>
    <link rel="icon" href="img/patadeperro.png"/>
    <title>Mis perris</title>
</head>
<body>
    <header>
            <h1><img id="imgLogo" src="img/patadeperro.png" alt="logo de pata de perro" />
                MisPerris</h1>
                <nav>
                    <ul id="menu">
                         <li><a href="index.html" tabindex="1">Inicio</a></li>
                         <li><a href="mascotas.html" tabindex="2">Mascotas</a></li>
                         <li><a href="nosotros.html" tabindex="3">Nosotros</a></li>
                         <li><a href="adopta.html" tabindex="4">Adopta</a></li>
                         <li><a href="contacto.html" tabindex="5">Contacto</a></li>
                     </ul> 
                </nav>
    </header>
    <form action="">
        <h2> Contacto</h2>
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="correo" placeholder="correo">
        <input type="text" name="telefono" placeholder="telefono">
        <textarea name="mensaje"
    </form>

    <footer>
            <table> 
                    <tr>
                        <td>Teléfono Contacto:</td>
                        <td>
                            <!-- Hipervínculo con llamada -->
                            <a href="tel:+56984806223">
                                +56 984806223
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Mail:</td>
                        <td>
                            <a href="mailto:al.silvap@alumnos.duoc.cl">
                                al.silvap@alumnos.duoc.cl
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &copy;Todos los derechos reservados
                        </td>
                    </tr>
                </table>
    </footer>
</body>
</html>