{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis perris</title>
    <link rel="stylesheet" href="{% static 'style/menu.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/main.css' %}"/>
    <link rel="icon" href="{% static 'img/patadeperro.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/galeria.css' %}"/>
</head>
<body>
    <header>
        <h1><img id="imgLogo" src="img/patadeperro.png" alt="logo de pata de perro" />
            MisPerris</h1>
            <nav>
                <ul id="menu">
                     <li><a href="{% url 'index' %}" tabindex="1">Inicio</a></li>
                     <li><a href="{% url 'mascota' %}" tabindex="2">Mascotas</a></li>
                     <li><a href="" tabindex="3">Nosotros</a></li>
                     <li><a href="{% url 'adopta' %}" tabindex="4">Adopta</a></li>
                     <li><a href="" tabindex="5">Contacto</a></li>
                 </ul> 
            </nav>
    </header>
    
    <div class="container">
        <div class="box">
            <div class="imgbox">
                <img src="{% static 'img/perro5.jpg' %}" alt="perro 1">
            </div>
            <div class="details">
                <div class="content">
                <h2>firulais</h2>
                <p>el es firulais es un perro tierno, llegado hace un mes 
                    en busca de una familia que lo quiera y de cariño </p>
            </div>
            </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perro6.jpg' %}" alt="perro 2">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>tomy</h2>
                        <p>tomy fue un perro maltratado por sus antiguos dueños, aun tiene
                            un poco de miedo con el acercamiento hacia las personas, por lo que aun 
                            se esta ganando su confianza 
                        </p>
                    </div>
                    </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perro8.jpg'%}" alt="perro 3">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>atom</h2>
                        <p>Atom es un perro que nacio con nostros y es muy tierno y cariñoso, el perro 
                            ideal para una familia con niños por que a el le gusta mucho jugar 
                        </p>
                    </div>
                    </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perro9.jpg' %}" alt="perro 4">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>luna</h2>
                        <p>fue encontrada de pequeña junto a su peluche del cual no se a apartado
                            desde el dia en que llego, es algo timida pero le gusta mucho recibir cariño
                        </p>
                    </div>
                    </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perro10.jpg' %}" alt="perro 5">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>trix</h2>
                        <p>trix fue regalado por sus dueños debido a que ellos no podian hacerse 
                            cargo de el, son perros que necesitan cuidado y por eso el esta buscando la familia
                            perfecta para el 
                        </p>
                    </div>
                    </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perro11.jpg' %}" alt="perro 6">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>cachupin</h2>
                        <p>cachupin es el tipico perrito de calle o que esta en las plazas, pero el se 
                            quizo ir con nosotros en busca de algo mejor y esta en la espera 
                            para jugar todo el dia sin parar 
                        </p>
                    </div>
                    </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perropug.jpg' %}" alt="perro 7">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>oso</h2>
                        <p>el es un perro ideal para parejas, te acompañara para todas partes, 
                          es muy fiel con quien lo acompaña y lo cuida, y siempre esta buscando tu atencion
                        </p>
                    </div>
                    </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perro12.jpg' %}" alt="perro 8">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>pluto</h2>
                        <p>lucas es un recien llegado y nacido en nuestra fundacion 
                            en busca de una familia y a la espera de cumplir sus debidos meses junto 
                            a su madre para poder encontrar a quien lo acoja en su hogar
                        </p>
                    </div>
                    </div>
        </div>
        <div class="box">
                <div class="imgbox">
                        <img src="{% static 'img/perro13.jpg' %}" alt="perro 9">
                    </div>
                    <div class="details">
                        <div class="content">
                        <h2>lucas</h2>
                        <p>lucas es el perro que lleva mas tiempo y es el con mas edad,
                        necesita un poco de ayuda medica en periodos de tiempo, por lo que la familia que lo desee
                        tiene que estar muy comprometida con el
                        </p>
                    </div>
                    </div>
        </div>

    </div>

    <footer>
            <table> 
                    <tr>
                        <td>Teléfono Contacto:</td>
                        <td>
                            <!-- Hipervínculo con llamada -->
                            <a href="tel:+56984806223">
                                +56 984806223
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Mail:</td>
                        <td>
                            <a href="mailto:al.silvap@alumnos.duoc.cl">
                                al.silvap@alumnos.duoc.cl
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &copy;Todos los derechos reservados
                        </td>
                    </tr>
                </table>
    </footer>
</body>
</html>